#first
{   
    height:200px;
	width:900px;
	
}
#tittle1
{ color: red;
  font-size=18px;
  font-weigth=bold;
  padding:px;
}
#content1
{
	text-align:justify;
    padding:10px;
}

#first img
{
  padding:5px;
}

#Second
{    
	height:200px;
	width:900px;
	}
#tittle2
{ color:white;
  font-size=18px;
  font-weigth=bold;
  padding:10px;
}

#Second img
{
  padding:5px;
}
#Third
{
	height:200px;
	width:900px;
	
}
#tittle3
{ 
  font-size=18px;
  font-weigth=bold;
  padding:10px;
}


#Third img
{
  padding:5px;
}
#fourth
   {
	height:200px;
	width:900px;
	}
	
	
#tittle4
{ 
  font-weigth=bold;
  padding:10px;
}



#fourth img
{
  padding:5px;
}







	